body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: #fe0000;
    font-size: 22px;
    color: white;
    border-radius: 20px;
    transition: all ease 0.5s;
    position: relative;
    top: 0;
    left: 0;
}

.box:hover {
    width: 270px;
    height: 270px;
    background-color: #fe9700;
    font-size: 28px;
    color: green;
    top: 20px;
    left: 20px;
    border-radius: 6px;
}
