/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Black.woff") format("woff"), url("./Lato/fonts/Lato-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic;
  src: url("./Lato/fonts/Lato-BlackItalic.woff") format("woff"), url("./Lato/fonts/Lato-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Bold.woff") format("woff"), url("./Lato/fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: bold;
  font-style: italic;
  src: url("./Lato/fonts/Lato-BoldItalic.woff") format("woff"), url("./Lato/fonts/Lato-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Hairline.woff") format("woff"), url("./Lato/fonts/Lato-Hairline.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: italic;
  src: url("./Lato/fonts/Lato-HairlineItalic.woff") format("woff"), url("./Lato/fonts/Lato-HairlineItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Heavy.woff") format("woff"), url("./Lato/fonts/Lato-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: italic;
  src: url("./Lato/fonts/Lato-HeavyItalic.woff") format("woff"), url("./Lato/fonts/Lato-HeavyItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Light.woff") format("woff"), url("./Lato/fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: italic;
  src: url("./Lato/fonts/Lato-LightItalic.woff") format("woff"), url("./Lato/fonts/Lato-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Medium.woff") format("woff"), url("./Lato/fonts/Lato-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: italic;
  src: url("./Lato/fonts/Lato-MediumItalic.woff") format("woff"), url("./Lato/fonts/Lato-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Regular.woff") format("woff"), url("./Lato/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Semibold.woff") format("woff"), url("./Lato/fonts/Lato-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: italic;
  src: url("./Lato/fonts/Lato-SemiboldItalic.woff") format("woff"), url("./Lato/fonts/Lato-SemiboldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: normal;
  src: url("./Lato/fonts/Lato-Thin.woff") format("woff"), url("./Lato/fonts/Lato-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: italic;
  src: url("./Lato/fonts/Lato-ThinItalic.woff") format("woff"), url("./Lato/fonts/Lato-ThinItalic.woff2") format("woff2");
}

html,
* {
  font-family: "Lato", sans-serif;
}

a,
button {
  font-style: normal;
}

a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

select {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #919191;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("./assets/icons/select-arrow-down.svg") no-repeat right;
  background-position-x: calc(100% - 20px);
  background-color: #fff;
  width: 100%;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 14px;
  height: 50px;
  color: #565656;
  margin-bottom: 16px;
}

input {
  border-radius: 6px;
  padding: 16px;
}

a {
  text-decoration: none;
}

p {
  color: #565656;
}

.wrapper {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  outline: none;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn-nav {
  font-size: 13px;
  line-height: 16px;
  padding: 10px 22px;
}

.btn--primary {
  background-color: #ff9100;
  color: #fff;
}

.footer {
  background-color: #565656;
  border-top: 12px solid #919191;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
}

.footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #e6e6e6;
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer a:hover {
  color: #41bead;
}

.footer-navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto auto 180px;
      grid-template-columns: 1fr auto auto auto 180px;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.footer-navbar .footer-logo {
  display: block;
  width: 220px;
  height: 403px;
  position: absolute;
  bottom: 0;
}

.footer-navbar::before {
  display: block;
  content: "";
  width: 220px;
}

.footer-nav__title, .footer-nav__list {
  margin: 0;
}

.footer-nav__title {
  white-space: nowrap;
  color: #fff;
  margin-bottom: 16px;
}

.footer-nav .footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #919191;
  margin-top: 48px;
  margin-bottom: 0;
}

.footer-nav__list-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.footer-nav__list {
  margin: 0;
  padding: 0;
}

.footer-nav__list-item {
  list-style: none outside;
  white-space: nowrap;
}

.footer-nav__list-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer-nav__list-item--icon a {
  font-size: 30px;
}

.footer-nav__list-item--icon:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 0;
}

.footer-nav__list--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 999;
}

.navbar,
.navbar_nav,
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__brand .navbar__arrow {
  width: 24px;
  height: 14px;
}

.navbar__brand .navbar__logo {
  width: 122px;
  height: 42px;
}

.navbar__nav {
  margin-left: auto;
}

.nav {
  margin: 0;
}

.nav__item {
  list-style: none outside;
}

.nav__item:not(:last-child) {
  margin-right: 24px;
}

.nav a {
  color: #565656;
  text-transform: uppercase;
  display: block;
  padding: 29px 12px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-weight: bold;
}

.nav a:hover {
  color: #ff7100;
}

.navbar__login {
  margin-left: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__login .navbar__search {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.navbar__login .navbar__search:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar__login .navbar__search-icon {
  width: 16px;
  height: 16px;
}

.navbar__login a {
  display: block;
  padding: 29px 12px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.level-label {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.level-label--beginner {
  background-color: #ffc20a;
}

.circles {
  position: absolute;
  right: -12px;
}

.circles .circle {
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 7px 0;
}

.circles .circle:first-child {
  -webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.06), inset 0px -2px 2px rgba(0, 0, 0, 0.08), inset 0px -4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.06), inset 0px -2px 2px rgba(0, 0, 0, 0.08), inset 0px -4px 2px rgba(0, 0, 0, 0.05);
}

.circles .circle:last-child {
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.06), inset 0px 3px 1px rgba(0, 0, 0, 0.08), inset 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.06), inset 0px 3px 1px rgba(0, 0, 0, 0.08), inset 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.circles .circle:nth-child(-n + 3) {
  background-color: #44a9f8;
}

.circles .circle:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#44a9f8), color-stop(#44a9f8), color-stop(49%), color-stop(49%, #fff), color-stop(51%, #fff));
  background: linear-gradient(#44a9f8, #44a9f8, 49%, #fff 49%, #fff 51%);
}

.circles .circle:nth-last-of-type(-n + 3) {
  background-color: #fff;
}

.intro {
  background-color: #44a9f8;
  height: 312px;
}

.intro-header {
  text-align: center;
  padding-top: 68px;
}

.intro-header__title {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  padding-top: 24px;
}

.intro-content {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 291px 1fr;
      grid-template-columns: 291px 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
  bottom: -54px;
}

.intro-content__button-wrapper {
  padding: 32px 0 32px 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro-content__button-wrapper .btn {
  margin-right: 64px;
}

.intro-widgets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content;
  -webkit-column-gap: 64px;
          column-gap: 64px;
}

.intro-widgets .intro-widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  position: relative;
}

.intro-widgets .intro-widget:not(:last-child)::after {
  display: block;
  content: "";
  position: absolute;
  right: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f1f1f1;
  width: 2px;
  height: 24px;
}

.intro-widgets .intro-widget__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
  color: #565656;
}

.intro-widgets .intro-widget__content {
  margin-top: 3px;
  font-weight: bold;
  color: #ff9100;
}

.circles {
  position: absolute;
  right: -12px;
}

.circles .circle {
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.14), inset 0px 2px 2px rgba(0, 0, 0, 0.12), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 7px 0;
}

.circles .circle:first-child {
  -webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.06), inset 0px -2px 2px rgba(0, 0, 0, 0.08), inset 0px -4px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.06), inset 0px -2px 2px rgba(0, 0, 0, 0.08), inset 0px -4px 2px rgba(0, 0, 0, 0.05);
}

.circles .circle:last-child {
  -webkit-box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.06), inset 0px 3px 1px rgba(0, 0, 0, 0.08), inset 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.06), inset 0px 3px 1px rgba(0, 0, 0, 0.08), inset 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.circles .circle:nth-child(-n + 3) {
  background-color: #44a9f8;
}

.circles .circle:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#44a9f8), color-stop(#44a9f8), color-stop(49%), color-stop(49%, #fff), color-stop(51%, #fff));
  background: linear-gradient(#44a9f8, #44a9f8, 49%, #fff 49%, #fff 51%);
}

.circles .circle:nth-last-of-type(-n + 3) {
  background-color: #fff;
}

.dotted-border--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dotted-border .dot {
  width: 10px;
  height: 10px;
  background-color: #ffecb3;
  border-radius: 50%;
}

.dotted-border .dot:not(:last-child) {
  margin-bottom: 8px;
}

.dotted-border .dot--horizontal:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 0;
}

.dotted-border .dot--white {
  background-color: #fff;
}

.course-info__content {
  padding-top: 152px;
  padding-bottom: 62px;
}

.course-info-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 739px 1fr;
      grid-template-columns: 739px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 111px;
          column-gap: 111px;
  margin-bottom: 96px;
}

.course-info-about__paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.course-info-about__paragraph:not(:last-child) {
  margin-bottom: 22px;
}

.course-info-about__trainer {
  position: relative;
}

.course-info-about__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.course-info-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 190px;
          column-gap: 190px;
  position: relative;
}

.course-info-points .dotted-border {
  position: absolute;
  left: 50%;
}

.course-info-point {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.course-info-point__title {
  margin-top: 0;
  color: #565656;
  margin-bottom: 16px;
}

.dotted-border--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dotted-border .dot {
  width: 10px;
  height: 10px;
  background-color: #ffecb3;
  border-radius: 50%;
}

.dotted-border .dot:not(:last-child) {
  margin-bottom: 8px;
}

.dotted-border .dot--horizontal:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 0;
}

.dotted-border .dot--white {
  background-color: #fff;
}

.schedule {
  background-color: #ffcb29;
  padding-top: 64px;
  padding-bottom: 49px;
  position: relative;
}

.schedule::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 20px 20px;
  background-repeat: repeat-x;
  top: -10px;
}

.schedule::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
  background-size: 20px 20px;
  background-repeat: repeat-x;
  bottom: -40px;
}

.schedule-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 138px;
          column-gap: 138px;
}

.schedule-content__desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.schedule-content__title {
  margin-top: 0;
}

.schedule-content__title, .schedule-content__info, .schedule-content__classes {
  color: #565656;
}

.schedule-content__classes {
  display: inline-block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.schedule-content__schechulde-icon {
  margin-bottom: 9px;
}

.dotted-border--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dotted-border .dot {
  width: 10px;
  height: 10px;
  background-color: #ffecb3;
  border-radius: 50%;
}

.dotted-border .dot:not(:last-child) {
  margin-bottom: 8px;
}

.dotted-border .dot--horizontal:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 0;
}

.dotted-border .dot--white {
  background-color: #fff;
}

.studies-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 608px 614px;
      grid-template-columns: 608px 614px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  row-gap: 110px;
  padding-top: 60px;
  padding-bottom: 148px;
}

.studies-content-certificate__img-wrapper {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  margin-left: 66px;
}

.studies-content-certificate__img-wrapper .studies-content-certificate__info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  color: #565656;
}

.studies-content-point {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.studies-content-point__content {
  color: #565656;
  position: relative;
}

.studies-content-point__content .dotted-border {
  position: absolute;
  top: 0;
  right: -48px;
}

.studies-content-point__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.studies-content-point__info {
  margin-top: 0;
  margin-bottom: 0;
}

.studies-content-point__info:not(:last-child) {
  margin-bottom: 22px;
}

.studies-content-point__anchor {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ff9100;
  border-bottom: 1px solid #ff9100;
}

.trainers-intro {
  background-color: #ffb402;
}

.trainers-intro__title, .trainers-intro__desc {
  color: #fff;
}

.trainers-intro__title {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 24px;
}

.trainers-intro__desc {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 64px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer__img-wrapper {
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #41bead;
  background-color: #ff9100;
  position: relative;
}

.trainer__img-wrapper:hover {
  cursor: pointer;
}

.trainer__img-wrapper:hover .trainer__img-wrapper-info {
  display: block;
  -webkit-animation: fade-in 0.3s ease-in-out;
          animation: fade-in 0.3s ease-in-out;
}

.trainer__img-wrapper:hover .trainer__img {
  opacity: 0.2;
}

.trainer__img-wrapper-info {
  display: none;
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.trainer__img-wrapper-info-text {
  color: #fff;
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.trainer__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.trainer__name {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #41bead;
}

.trainer__info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.dotted-border--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dotted-border .dot {
  width: 10px;
  height: 10px;
  background-color: #ffecb3;
  border-radius: 50%;
}

.dotted-border .dot:not(:last-child) {
  margin-bottom: 8px;
}

.dotted-border .dot--horizontal:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 0;
}

.dotted-border .dot--white {
  background-color: #fff;
}

.trainers-about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.trainers-about__content {
  position: relative;
}

.trainers-about__content::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: -5px;
  height: 50px;
  background: radial-gradient(closest-side, #dff4f1, #dff4f1 50%, transparent 50%);
  background-size: 20px 20px;
  background-repeat: repeat-x;
  bottom: -136px;
}

.trainers-about-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.trainers-about-list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 410px;
      grid-template-columns: auto 410px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.trainers-about-list-item__title {
  color: #41bead;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.trainers-about-list-item__subtitle {
  color: #b2b2b2;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.trainers-about-list-item__info {
  margin-top: 24px;
  margin-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer__img-wrapper {
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #41bead;
  background-color: #ff9100;
  position: relative;
}

.trainer__img-wrapper:hover {
  cursor: pointer;
}

.trainer__img-wrapper:hover .trainer__img-wrapper-info {
  display: block;
  -webkit-animation: fade-in 0.3s ease-in-out;
          animation: fade-in 0.3s ease-in-out;
}

.trainer__img-wrapper:hover .trainer__img {
  opacity: 0.2;
}

.trainer__img-wrapper-info {
  display: none;
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.trainer__img-wrapper-info-text {
  color: #fff;
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.trainer__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.trainer__name {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #41bead;
}

.trainer__info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainer__img-wrapper {
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #41bead;
  background-color: #ff9100;
  position: relative;
}

.trainer__img-wrapper:hover {
  cursor: pointer;
}

.trainer__img-wrapper:hover .trainer__img-wrapper-info {
  display: block;
  -webkit-animation: fade-in 0.3s ease-in-out;
          animation: fade-in 0.3s ease-in-out;
}

.trainer__img-wrapper:hover .trainer__img {
  opacity: 0.2;
}

.trainer__img-wrapper-info {
  display: none;
  position: absolute;
  top: 42px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.trainer__img-wrapper-info-text {
  color: #fff;
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.trainer__img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.trainer__name {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #41bead;
}

.trainer__info {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.trainer-list {
  padding-top: 104px;
  padding-bottom: 128px;
}

.trainer-list__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 242px 242px 242px 242px;
      grid-template-columns: 242px 242px 242px 242px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 64px;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.teams {
  background-color: #66b9f8;
  border-top: 12px solid #92cdfb;
  padding-bottom: 128px;
}

.teams__header, .teams__content, .teams__info {
  text-align: center;
  color: #fff;
}

.teams__title {
  margin-top: 64px;
  margin-bottom: 24px;
}

.teams__info {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 65%;
}

.teams__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 228px 228px 228px min-content;
      grid-template-columns: 228px 228px 228px -webkit-min-content;
      grid-template-columns: 228px 228px 228px min-content;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teams__form-button {
  margin-left: 16px;
}

.teams__input {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.teams__input::-webkit-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.teams__input:-ms-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.teams__input::-ms-input-placeholder {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.teams__input::placeholder {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.teams__input:focus {
  color: #fff;
}

.text-center {
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.7s forwards 1 ease-out;
          animation: fade-in 0.7s forwards 1 ease-out;
  opacity: 0;
}

.fade-in--delay-100 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.fade-in--delay-200 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.fade-in--delay-300 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.fade-in--delay-400 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.fade-in--delay-500 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.fade-in--delay-600 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.fade-in--delay-700 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.fade-in--delay-800 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.fade-in--delay-900 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.fade-in--delay-1000 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.fade-in--delay-1100 {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}

.fade-in--delay-1200 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.fade-in--delay-1300 {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.fade-in--delay-1400 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.fade-in--delay-1500 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.fade-in--delay-1600 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.fade-in--delay-1700 {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.fade-in--delay-1800 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.fade-in--delay-1900 {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.fade-in--delay-2000 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.fade-in--delay-2100 {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.fade-in--delay-2200 {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.fade-in--delay-2300 {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}

.fade-in--delay-2400 {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.fade-in--delay-2500 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
/*# sourceMappingURL=styles.css.map */