@import "../06.Components/components-animations";
@import "../01.Settings/settings-colors";

.fade-in {
    animation: fade-in 0.7s forwards 1 ease-out;
    opacity: 0;

    $delayInMs: 100;
    $maxDelayInMs: 2500ms;
    @while $delayInMs <= $maxDelayInMs {
        &--delay-#{$delayInMs} {
            animation-delay: #{$delayInMs}ms;
        }

        $delayInMs: $delayInMs + 100;
    }
}

.bounce {
    animation: bounce 1s ease-in-out;
}

.fade-in-left {
    animation-name: fade-in-left;
    animation-duration: 1.2s;
    animation-fill-mode: both;

    $delayInMs: 100;
    $maxDelayInMs: 2500ms;
    @while $delayInMs <= $maxDelayInMs {
        &--delay-#{$delayInMs} {
            animation-delay: #{$delayInMs}ms;
        }

        $delayInMs: $delayInMs + 100;
    }
}

.fade-in-right {
    animation-name: fade-in-right;
    animation-duration: 1.2s;
    animation-fill-mode: both;

    $delayInMs: 100;
    $maxDelayInMs: 2500ms;
    @while $delayInMs <= $maxDelayInMs {
        &--delay-#{$delayInMs} {
            animation-delay: #{$delayInMs}ms;
        }

        $delayInMs: $delayInMs + 100;
    }
}

.animate-border {
    transition: all 300ms ease-in;

    &:hover {
        padding-bottom: 0;
        border-bottom: 17px solid $blue-400;
    }

    &:focus {
        padding-bottom: 0;
        border-bottom: 17px solid $secondary-500;
    }
}
