body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.custom-link {
    background-color: white;
    color: #2d4560;
    text-transform: uppercase;
    font-weight: bold;
    outline: 5px solid #203f5d;
    text-decoration: none;
    padding: 20px 25px;
    margin: 10px;
    transition: outline-width 0.3s linear;
}

.custom-link:hover {
    outline-width: 10px;
}
