.cards {
  margin-top: 64px;
  margin-bottom: 127px;
  display: flex;
  justify-content: space-between;
}

.cards .card {
  max-width: 410px;
  margin-bottom: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.cards .card:not(:last-child) {
  margin-right: 10px;
}

.cards .card .card__header {
  padding: 70px 24px 32px;
  position: relative;
}

.cards .card .card__header.card__header--blue {
  background-color: #44a9f8;
}

.cards .card .card__header.card__header--green {
  background-color: #41bead;
}

.cards .card .card__header .card__label {
  position: absolute;
  top: 17px;
  left: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px 8px;
}

.cards .card .card__header .card__label.card__label-grey {
  background-color: #676781;
}

.cards .card .card__header .card__label.card__label-purple {
  background-color: #9a5dc6;
}

.cards .card .card__header .card__label.card__label-orange {
  background-color: #ff7100;
}

.cards .card .card__title {
  margin: 0;
  color: #fff;
}

.cards .card .card__body {
  padding-top: 24px;
  padding-bottom: 24px;
}

.cards .card .card__body .card-info {
  padding: 5px;
  flex-basis: 42%;
  text-align: center;
}

.cards .card .card__body .card-info .card-info__img {
  margin-right: 10px;
}

.cards .card .card__body,
.cards .card .card-info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.cards .card .card__body,
.cards .card .card__footer {
  background: #fff;
}

.cards .card .card__footer {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.cards .card .card__footer::before {
  display: block;
  content: "";
  background: #f1f1f1;
  width: 361px;
  height: 1px;
  position: relative;
  top: -20px;
}

.cards .card .card__footer .card-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fc4c50;
}
