.btn {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 14px 32px;
  border: none;
  border-radius: 100px;
  outline: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn.btn--primary {
  background-color: #FF9100;
  color: #FFF;
}
