@mixin shredded-border ($top-or-bottom, $top-or-bottom-value) {
    display: block;
    content: "";
    position: absolute;
    #{$top-or-bottom}: $top-or-bottom-value;
    left: 0;
    right: 0;
    height: 50px;
    background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
    background-size: 20px 20px;
    background-repeat: repeat-x;
}