$secondary-500: #ffc20a;
$secondary-800: #ff9100;
$secondary-900: #ff7100;

$blue-50: #e3f3fd;
$blue-400: #44a9f8;

$grey-50: #f8f8f8;
$grey-100: #f1f1f1;
$grey-200: #e6e6e6;
$grey-500: #919191;
$grey-600: #676781;
$grey-700: #565656;

$primary-50: #dff4f1;
$primary-300: #41bead;
$primary-400: #00af9b;

$red-400: #fc4c50;

$purple-700: #9a5dc6;

$white: #fff;
