@import '../01.Settings/settings-colors';
select {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $grey-500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./assets/select-arrow-down.svg') no-repeat right;
    background-position-x: 170px;
    width: 197px;
    height: 44px;
    border: 1px solid $secondary-800;
    border-radius: 4px;
    padding: 12px 18px;
}

option:not(:first-of-type) {
    color: $grey-700;
}