body {
    display: grid;
    grid-template-areas: 
                        "header header header"
                        "main main aside"
                        "footer footer footer";

    row-gap: 30px;
    column-gap: 30px;
}

header,
main,
aside,
footer {
    background-color: black;
    color: white;
    padding: 30px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

@media (max-width: 1024px) {
    body {
        grid-template-areas: 
                        "header"
                        "main"
                        "aside"
                        "footer";
    }
}