@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes bounce {
    20%,
    45%,
    70%,
    90%,
    to {
        transform: translateY(0);
    }

    32% {
        transform: translateY(-45px);
    }

    58% {
        transform: translateY(-30px);
    }

    82% {
        transform: translateY(-15px);
    }

    95% {
        transform: translateY(-4px);
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-bot {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hop {
    0% {
        transform: translateX(-60px) translateY(-60px);
    }

    25% {
        transform: translateX(-45px) translateY(0);
    }

    50% {
        transform: translateX(-30px) translateY(-30px);
    }

    75% {
        transform: translateX(-15px) translateY(0);
    }

    90% {
        transform: translateX(-7px) translateY(-15px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}