@import "../01.Settings/settings-colors";
@import "../06.Components/components-trainer";
@import "../01.Settings/settings-breakpoints";

.trainer-list {
    padding-top: 104px;
    padding-bottom: 128px;

    @include for-phone-only {
        padding-bottom: 96px;
    }

    &__content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 242px 242px 242px 242px;
        justify-content: center;
        row-gap: 64px;
        column-gap: 32px;

        @include for-phone-only {
            display: flex;
            flex-flow: column wrap;
        }
    }
}

.trainer-list-item {
    @include for-phone-only {
        &:not(:nth-child(-n + 4)) {
            display: none;
        }
    }
}
