@import "../01.Settings/settings-colors";
@import "../01.Settings/settings-breakpoints";

.footer {
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;

    @include for-phone-only {
        padding-top: 52px;
        padding-bottom: 32px;
    }

    a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $grey-200;
        display: block;
        transition: color 0.3s;

        &:hover,
        &:focus {
            color: $primary-300;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Lato", sans-serif;
    }
}

.footer-navbar {
    display: grid;
    grid-template-columns: 1fr auto auto auto 180px;
    column-gap: 80px;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: 478px;
        column-gap: normal;
        position: relative;
    }

    .footer-logo {
        display: block;
        width: 220px;
        height: 403px;
        position: absolute;
        bottom: 0;

        @include for-phone-only {
            display: none;
        }
    }

    &::before {
        display: block;
        content: "";
        width: 220px;

        @include for-phone-only {
            display: none;
        }
    }
}

.footer-nav {
    @include for-phone-only {
        margin-bottom: 32px;
    }

    &:nth-child(3n + 1),
    &:nth-child(4n + 1) {
        @include for-phone-only {
            margin-left: 16px;
        }
    }

    .find-us__title {
        @include for-phone-only {
            display: none;
        }
    }

    &__title,
    &__list {
        margin: 0;
    }

    &__title {
        white-space: nowrap;
        color: $white;
        margin-bottom: 16px;
    }

    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $grey-500;
        margin-top: 48px;
        margin-bottom: 0;

        @include for-phone-only {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            border-top: 1px solid $grey-600;
            padding-top: 32px;
            padding-left: 16px;
            padding-right: 16px;
        }

        // &::before {
        //     @include for-phone-only {
        //         display: block;
        //         content: "";
        //         background: $grey-600;
        //         height: 1px;
        //         position: relative;
        //         top: -32px;
        //     }
        // }
    }
}

.footer-nav__list-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    column-gap: 24px;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;

        .footer-nav__list:nth-child(2) {
            margin-top: 0;
        }
    }
}

.footer-nav__list {
    margin: 0;
    padding: 0;

    @include for-phone-only {
        margin-bottom: 12px;
    }

    &-item {
        list-style: none outside;
        white-space: nowrap;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &--icon {
            a {
                font-size: 30px;
            }

            &:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }

    &--icon {
        display: flex;
    }
}
