@import "../01.Settings/settings-breakpoints";
@import "./components-dotted-border";

.course-info {
    @include for-phone-only {
        margin-top: 392px;
    }
}

.course-info__content {
    padding-top: 152px;
    padding-bottom: 62px;

    @include for-phone-only {
        padding-top: 104px;
        padding-bottom: 0;
    }
}

.course-info-about {
    display: grid;
    grid-template-columns: 739px 1fr;
    align-items: center;
    column-gap: 111px;
    margin-bottom: 96px;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 64px;

        &__desc {
            margin-bottom: 32px;
        }
    }

    &__paragraph {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__paragraph:not(:last-child) {
        margin-bottom: 22px;
    }

    &__trainer {
        position: relative;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.course-info-points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 190px;
    position: relative;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;

        .dotted-border {
            display: none;
        }
    }

    .dotted-border {
        position: absolute;
        left: 50%;
    }
}

.course-info-point {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    column-gap: 32px;

    @include for-phone-only {
        margin-bottom: 74px;

        &:first-child::after {
            @include shredded-border(bottom, 55%, radial-gradient(circle, $secondary-100 42%, $white 42%));
        }
    }

    &__title {
        margin-top: 0;
        color: $grey-700;
        margin-bottom: 16px;
    }
}
