@import "../01.Settings/settings-colors";

.trainers-intro {
    text-align: center;
    background-color: $secondary-600;

    &__title,
    &__desc {
        color: $white;
    }

    &__title {
        margin: 0;
        padding-top: 64px;
        padding-bottom: 24px;
    }

    &__desc {
        width: 65%;
        margin: 0 auto;
        padding-bottom: 64px;
    }
}