@import "../01.Settings/settings-colors";
@import "../06.Components/components-trainer";
@import "../06.Components/components-dotted-border";
@import "../01.Settings/settings-mixins";
@import "../01.Settings/settings-breakpoints";

.trainers-about {
    padding-top: 96px;
    padding-bottom: 96px;

    @include for-phone-only {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__content {
        position: relative;

        &::after {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            right: -5px;
            height: 50px;
            background: radial-gradient(closest-side, $primary-50, $primary-50 50%, transparent 50%);
            background-size: 20px 20px;
            background-repeat: repeat-x;
            bottom: -136px;

            @include for-phone-only {
                bottom: -112px;
            }
        }
    }
}

.trainers-about-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;
    }
}

.trainers-about-list-item {
    display: grid;
    grid-template-columns: auto 410px;
    column-gap: 32px;

    @include for-phone-only {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    &__content {
        @include for-phone-only {
            text-align: center;
        }
    }

    &__title {
        color: $primary-300;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 8px;

        @include for-phone-only {
            margin-top: 32px;
        }
    }

    &__subtitle {
        color: $grey-400;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    &__info {
        margin-top: 24px;
        margin-bottom: 0;
    }
}
