@import "../01.Settings/settings-colors";

.footer {
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;

    a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $grey-200;
        display: block;
        transition: color 0.3s;

        &:hover {
            color: $primary-300;
        }
    }
}

.footer-navbar {
    display: grid;
    grid-template-columns: 1fr auto auto auto 180px;
    column-gap: 80px;

    .footer-logo {
        display: block;
        width: 220px;
        height: 403px;
        position: absolute;
        bottom: 0;
    }

    &::before {
        display: block;
        content: "";
        width: 220px;
    }
}

.footer-nav {
    &__title,
    &__list {
        margin: 0;
    }

    &__title {
        white-space: nowrap;
        color: $white;
        margin-bottom: 16px;
    }

    .footer__copyright {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $grey-500;
        margin-top: 48px;
        margin-bottom: 0;
    }
}

.footer-nav__list-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    column-gap: 24px;
}

.footer-nav__list {
    margin: 0;
    padding: 0;

    &-item {
        list-style: none outside;
        white-space: nowrap;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &--icon {
            a {
                font-size: 30px;
            }

            &:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }

    &--icon {
        display: flex;
    }
}
