.btn {
    background-color: white;
    border: 1px solid white;
    color: #42ABF8;
    padding: 0.7em 1.6em;
    border-radius: 0.5em;
}

.btn-outline {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}